<div class="listBackground">
<div class="navLinks">
  <a ng-href="#!/logout" ng-click="logout()">Logout</a>
  <a ng-href="#!/new-garden">Create a New Garden</a>
</div>
<div class="listPage"> 
  <h1>Your Gardens</h1>

  <div>
    <div class="gardenList" ng-repeat="garden in gardens"> 
        <a ng-href="#!/gardens/detail/{{garden.id}}" ng-click="viewSavedGarden(garden.id)">{{garden.name}}</a>
        <button class="btn-sm btn-outline-info deleteGarden btn" ng-click="openModal(garden.id)">X</button>
    </div>
  </div>
</div>