<div class="newGarden">
<div>
  <a class="navLinkTabs" href="" ng-click="cancelNew()">Cancel</a>
  <a class="navLinkTabs" href="" ng-click="gardenForm.$valid && saveGarden()">Continue</a>
</div>
<div class="gardenForm">
	<h1>Enter some details about your garden: </h1><br><br>
<form name="gardenForm">
	<label>Name this garden: </label>
	<input type="text" ng-model="newGarden.name" required><br>

	<label>How long is your garden: </label>
	<input type="number" id="gardenLength" ng-model="newGarden.length" placeholder="in feet" required><br>

	<label>How wide is your garden: </label>
	<input type="number" name="gardenHeight" ng-model="newGarden.width" placeholder="in feet" required><br>

	<!-- <div ng-repeat="veggie in veggies">
		<input type="checkbox" class="veggies" id="{{veggie.name}}" ng-model="newGarden.{{veggie.name}}" value="true">
		<label>{{veggie.name}}</label><br>
	</div> -->
	<h4>What are you growing: </h4>

	<input type="checkbox" class="veggies" id="tomato" ng-model="newGarden.tomato" value="true">
	<label>Tomato</label>

	<input type="checkbox" class="veggies" id="cucumber" ng-model="newGarden.cucumber" value="true">
	<label>Cucumbers</label>

	<input type="checkbox" class="veggies" id="onion" ng-model="newGarden.onion" value="true">
	<label>Onions</label>

	<input type="checkbox" class="veggies" id="potato" ng-model="newGarden.potato" value="true">
	<label>Potatos</label>

	<input type="checkbox" class="veggies" id="carrot" ng-model="newGarden.carrot" value="true">
	<label>Carrots</label><br>

	<!-- <button class="btn" ng-click="saveGarden()">Submit</button> -->
	<!-- <input type="submit" class="btn" ng-click="gardenForm.$valid && saveGarden()"> -->

	</div>
	</form>
</div>