<div >
    <!-- Any elements before the canvas are making it drop in weird places. Why? -->
    <h3>Here is where you can make a new garden</h3>
    <canvas id="graphCanvas" ondrop="angular.element(this).scope().drop(event)" ondragover="angular.element(this).scope().allowDrop(event)" height=300 width=300 style="border:1px solid #000000;"></canvas>

    <img id="tomato" src="tomato.png" draggable="true" ng-mousedown="getPos($event)"ondragstart="angular.element(this).scope().drag(event)"/>
    <img id="cucumber" src="cucumber.png" draggable="true" ng-mousedown="getPos($event)"ondragstart="angular.element(this).scope().drag(event)"/>

    <button ng-click="saveGarden()">Save Garden</button>

    <h3>Here is where you can print your saved garden</h3>
    <canvas id="graphCanvas2" ondrop="angular.element(this).scope().drop(event)" ondragover="angular.element(this).scope().allowDrop(event)" height=300 width=300 style="border:1px solid #000000;">
    </canvas>
    <button ng-click="getGarden()">Get My Saved Garden</button>

  </div>